<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans [
  <!ELEMENT beans (context:annotation-config)*>
  <!ATTLIST beans
    xmlns CDATA #REQUIRED
    xmlns:xsi CDATA #REQUIRED
    xmlns:context CDATA #REQUIRED
    xmlns:tx CDATA #REQUIRED
    xsi:schemaLocation CDATA #REQUIRED>
  <!ELEMENT context:annotation-config (#PCDATA)>
  ]>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx.sxd">

  <context:annotation-config/>

</beans>